<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Metathesis</title>
	</head>
	<body>
		<footer class="row-footer">	
			<div class="container"> 
				<div class="row">
					<hr>
					<p>© Metathesis 2017</p>		
				</div>
				 
			</div>
			<div class="container col-md-12">
				<div class="row">
					<div class="parallax-3 jumbotron">
						<div class="container">
							<div class="row">								
								<div class="panel panel-transparent-footer text-center"> 
									<div class="footer-logo"></div>
									<div class="space20 footer-text media-body-news ">
										<h3 class="media-heading" translate>Project created by Aleks Fishan</h3>
										<h3 class="media-heading" translate>as</h3>
										<h3 class="media-heading" translate>Coursera Full Stack Web Development Specialization Capstone</h3>
									</div>
									<div class="space10">
										<a class="social-item social-linkedin" href="https://www.linkedin.com/in/aleks-fishan-7000b2120/" target="_blank"></a>										
										<a class="social-item social-email" href="mailto:a.fishan@gmail.com" target="_blank"><span class="wsite-social-item-inner"></span></a>		
									</div>								 
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="scripts/parallax.js"></script>
	</body>
</html>