<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Login Modal" content="">
		<meta name="author" content="">
		<title>Metathesis</title>
	</head>
	<body>
		<div class="modal-form-body row">
			<div>
				<div class="modal-header">
					<div class="modal-header-text"> <translate>Login</translate> </div>
				</div>
				<div class="">&nbsp;</div>
				<div>
					<form ng-submit="doLogin()">
						<div class="col-md-10 col-md-offset-1 space-bottom10">
							<div class="form-group">
								<label class="sr-only" for="username"><translate>Username</translate></label>
								<input type="text" class="form-control input-lg" id="username" placeholder="{{usernamePlaceholder}}" ng-model="loginData.username">
							</div>
							<div class="form-group">
								<label class="sr-only" for="password"><translate>Password</translate></label>
								<input type="password" class="form-control input-lg" id="password" placeholder="{{passwordPlaceholder}}" ng-model="loginData.password">
							</div>
							<div class="col-md-8 col-md-offset-2 checkbox checkbox-place checkbox-background" >
								<label>
									<input type="checkbox" class="mid-checkbox" ng-model="rememberMe"> 
									<span class="checkbox-text"> <translate>Remember me</translate></span>
								</label>
							</div>
						</div>
						<div class="col-md-12 modal-margin10">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group" role="group">
									<button type="submit" class="btn btn-lg btn-success"><translate>Sign in</translate></button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-lg btn-warning" ng-click="openRegister()"><translate>Register</translate></button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-lg btn-default" ng-click="closeThisDialog('Cancel'); cancelLogin()"><translate>Cancel</translate></button>
								</div>
							</div>
						</div>
					</form>	
					<div class="col-md-10 col-md-offset-1 space-bottom10">		
						<div class="col-md-8 col-md-offset-2 checkbox checkbox-place checkbox-background" >	
							<div class="text-mid text-center" translate> or login with social</div>
							<div>
								<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>	